/*stuff for all pages*/

html {
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 1em;
  font-family: "Open Sans";
  color: black;
  background-color: gray;
  background-image: url("../images/barry-simon-310250.jpg");
  background-size: cover;
  background-position:top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
  margin:auto;
}

footer {
  width: 100%;
  margin: auto;
  font-size: .75em;
  font-style: italic;
  text-align: right;
  color: #505a64;
  position: absolute;
}

/*text styles*/

p {
  font-size: 1em;
}

address {
  display: inline-block;
}


h1 {
  font-family: "Gloria Hallelujah";
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .2em;
  }

h2 {
  font-size: 1.3em;
  text-align: left;
}

.logo {
  Max-width: 95%;
  margin-left: 0;
  margin-bottom: 0;
  display: block;
}

/*link styles*/

a, a:link, a:active {
  text-decoration: none;
  color: #29506D;
}

a:hover, a:focus {
  color: #c8c8c8;
}

a:visited {
}

/*form styles*/
label {
  font-size: 3em;
}

input {
  width: 100%;
  margin: .5em 0;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

input[type="checkbox"] {
  width: .28em;
  height: .28em;
  font-size: 3em;
}

textarea {
  width: 100%;
  margin: .5em 0;
  font-size: 2em;
  border: 1px solid #ccc;
  border-radius: 0;
}

input:invalid, textarea:invalid {
  border-color: #AE3F3C;
}

input:valid, textarea:valid {
  border-color: #89CB8E;
}
