/*stuff for all pages*/

html {
  padding: 0;
  margin: 0;
  background-color: #afbcc6;
  background-image: url("../images/barry-simon-310250.jpg");
  background-size: cover;
  background-position:top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-size: 1em;
  font-family: "Open Sans";
  color: black;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
}

footer {
  font-size: .75em;
  font-style: italic;
  text-align: right;
  padding-left: 5%;
  padding-right: 5%;
  color: #505a64;
}

/*text styles*/

p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*link styles*/

a, a:link, a:active {
  text-decoration: none;
  color: #29506D;
}

a:hover, a:focus {
  color: #e2f1f8;
}

a:visited {
}

/*form styles*/
label {
  font-size: 3em;
}

input {
  width: 100%;
  margin: .5em 0;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

input[type="checkbox"] {
  width: .28em;
  height: .28em;
  font-size: 3em;
}

textarea {
  width: 100%;
  margin: .5em 0;
  font-size: 2em;
  border: 1px solid #ccc;
  border-radius: 0;
}

input:invalid, textarea:invalid {
  border-color: #AE3F3C;
}

input:valid, textarea:valid {
  border-color: #89CB8E;
}
