/*basic layout stuff*/
.pull-left {
  float: left;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.pull-right {
  float: right;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  background-image: url("../images/header whitesmoke stripes.png");
  background-size:cover;
  background-position: center;
  overflow-y: hidden;
}

.heading-group-h2 {
  margin: auto;
  clear: left;
}

.main-nav {
  width: 100%;
  margin: auto;
  padding-left: 6em;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}
