/*basic layout stuff*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 90%;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.heading-group-h2 {
  max-width: 85%;
  margin: auto;
  vertical-align: bottom;
  clear: left;
}

.main-nav {
  width: 98%;
  margin: auto;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}
