/*basic layout stuff*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  background-image: url("../images/header whitesmoke stripes.png");
  background-size: cover;
  overflow-y: hidden;
  /*height: 12em;*/
}

.heading-group-h2 {
    margin: auto;
  clear: left;
}

.main-nav {
  width: 100%;
  margin: auto;
  padding-left: 6em;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}
