/*for pieces that are not the whole site*/

.site-header {
  /*padding: 0;*/
  /*margin: 0;*/
}

.logo {
  Max-width: 85%;
}

.heading-group-h1 {
  /*float: left;*/
  /*padding: .1em 6em .2em 6em;*/
  /*margin: 0;*/
}

.icon-menu {
  font-size: 2em;
  float: right;
  padding-right: .8em;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
  max-width: 85%;
}

#filters select {
  background-color: #c8c8c8;
}

.template {
  display: none;
}

.byline {
  color: #141414;
  font-style: italic;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

article {
  background-image: url("../images/translucent whitesmoke.png");
  background-size: cover;
}

article img {
  max-width: 100%;
}


#article-export label {
  font-size: .8em;
  font-style: italic;
}

@media only screen and (min-width: 640px) {
  article img {
    max-width: 25%;
  }

  article {
    padding-left: 20%;
    padding-right: 20%;
  }

  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .1% 20% 1% 20%;
    margin: 0;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
  }

  .heading-group-h1 {
    /*margin: .1em;*/
    margin: 0;
    padding: .1% 15% 1% 15%;
    /*float: none;*/
  }

  .logo {
    max-width: 50%;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }

  #filter-container {
    padding-left: 10em;
    padding-right: 10em;
  }
}
