/*for pieces that are not the whole site*/

.site-header {
  background-image: url("../images/header whitesmoke stripes.png");
  background-size:cover;
  background-position: center;
  overflow-x: hidden;
  padding: 2% 5% 0 5%;
  /*margin: 0;*/
}

.logo {
  Width: 100%;
  margin:0;
}

.heading-group-h1 {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  line-height: 1.1;
  margin-bottom: 0;
}

.heading-group-h2 {
}


.icon-menu {
  font-size: 2em;
  float: right;
  padding-right: 3%;
  margin: 0;
}

.main-nav {
  padding: 1%;
  margin-top: 0;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
  font-family: "Open Sans"
}

#filters {
  padding: 0;
  list-style: none;
  Width: 100%;
}

#filters select {
  background-color: #e2f1f8;
}

.template {
  display: none;
}

.byline {
  color: #141414;
  font-style: italic;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

article {
  background-image: url("../images/translucent whitesmoke.png");
  background-size: cover;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

article img {
  max-width: 100%;
}

#about {
  padding-left: 5%;
  padding-right: 5%;
}


#article-export label {
  font-size: .8em;
  font-style: italic;
}

#small-h2 {
  display: inline;
  margin-bottom: 0;
}
#big-h2 {
  display: none;
}


/******************************************************************************/
@media only screen and (min-width: 640px) {

  #small-h2 {
    display: none;
  }
  #big-h2 {
    display: inline;
  }

  article img {
    width: 25%;
  }

  article {
    padding-top: 0;
  }

  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: 0;
    margin: 0;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
  }

  .heading-group-h1 {
    margin: 0;
  }

  .heading-group-h2 {
    outline-color: ;
  }


  .logo {
    width: 30%;
    margin: 0 0 0 2%;
    /*clear: left;*/
  }

  #filters select {
    width: 44%;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }

  #filter-container {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }

  #about-text {
    width: 60%;
  }

  #resources-list {
    width: 30%;
  }
}
